<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to 0x4d.in</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #5c5c5c;
        }
        a {
            text-decoration: none;
            color: #aa0606;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Nothing here to see....</h1>
    <p>For more info check <a href=https://github.com/hindfelt/MediaMarauder>Github</href></p>
</body>
</html>