<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>0x4d.in</title>
  <script type="module" crossorigin src="/static/assets/index-3bhtMBo7.js"></script>
  <link rel="stylesheet" crossorigin href="/static/assets/index-Cg7AHTt7.css">
</head>

<body>
  <div id="root"></div>
  <script>
    // Redirect to landing page after loader completes
    setTimeout(function() {
      window.location.href = '/landing';
    }, 3000); // 3 seconds for loader animation
  </script>
</body>

</html>